.field--item {
	img {
		margin: 0 auto;
		padding: 20px 0;
	}
}

.field--name-field-button-1 {
	text-align: center;
    padding: 30px;
	a {
	    padding: 20px 70px;
	    background-color: #175d38;
	    border: 4px solid black;
	    border-radius: 50%;
	    font-size: 18px;
	    font-weight: bold;
	    color: white;
	    display: block;
	}
}

.field--name-field-button-2 {
	a{
		color: black;
    	text-decoration: underline;
	}
}

.menu--footer {
	li {
		float: left;
		a{
			padding: 0 15px;
			color: black;
			text-decoration:underline;
		}
	}	
}

.footer {
	padding-top: 0;
	padding-bottom: 15px;
	border-top: none;
}

.field--name-field-games-image {
	img {
		margin:0;
	}
}

.field--name-field-games-title {
 margin-top: 65px;
 margin-left: -20px;
}
.field--name-field-gamesplay {
  margin-top: 55px;
  margin-left: 20px;
  background-color: #175d38;
  padding: 10px;
  a {
	  color: white;
    font-weight: bold;
    padding-left: 35px;
  }
}

.field--name-field-button-3 {
	 background-color: #175d38;
   padding: 8px;
   a {
   	color: white;
    margin-left: 230px;
   }
}

.paragraph--type--games {
  clear: both;
  margin-left: -15px;
  content: " ";
  margin-right: -15px;
}

.field--name-field-info {
	padding-bottom: 10px;
}

body {
	background-color: #2fb770;
}